---
import Project from '../ProjectCard.astro';

import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import ProjectCard from '../../components/ProjectCard.astro';

const projects = (await getCollection('projects')).sort(
  (a, b) => b.data.priority.valueOf() - a.data.priority.valueOf()
);
---

<section
  class="col-span-12 md:col-span-10 md:col-start-2 grid grid-cols-2 py-12 gap-8 px-4 md:px-0"
>
  <h2 class="col-span-2 text-center font-semibold text-3xl text-primary-700">
    Výběr naší práce
  </h2>
  {
    projects
      .filter((project) => project.data.featured)
      .map((project, index) => (
        <ProjectCard
          image={project.data.image}
          alt={`Cover image of ${project.data.name}`}
          name={project.data.name}
          description={project.data.description}
          tags={project.data.tags}
          year={project.data.year}
          href={project.body ? `/projects/${project.id}` : null}
          isFullW
        />
      ))
  }
</section>
<div class="col-span-12 border-t" aria-hidden="true"></div>
