---
import { Picture } from 'astro:assets';
const {
  image,
  alt,
  name,
  description,
  width,
  height,
  tags = [],
  isFullW,
} = Astro.props;
---

<article
  class:list={[
    'col-span-10 md:col-span-5 border flex flex-col justify-between',
    { 'md:col-span-10': isFullW },
  ]}
>
  <div class:list={['w-full p-4 mb-1', { 'mb-4': isFullW }]}>
    <header
      class:list={[
        'flex items-start justify-between mb-0 gap-6',
        { 'mb-3': isFullW },
      ]}
    >
      <h3
        class:list={[
          'font-semibold',
          { 'text-4xl': isFullW, 'text-2xl': !isFullW },
        ]}
      >
        {name}
      </h3>
      <div
        class="font-mono text-lg flex flex-wrap justify-end text-tertiary-700"
      >
        {tags.map((tag) => <p class="tag">{tag}</p>)}
      </div>
    </header>
    <p
      class:list={[
        'text-lg text-tertiary-700',
        { 'w-2/3': isFullW, 'w-full': !isFullW },
      ]}
    >
      {description}
    </p>
  </div>
  <Picture
    src={image}
    formats={['avif', 'webp']}
    alt={alt}
    width={width}
    height={height}
    class="w-full border-t border-dashed pt-0.5"
  />
</article>

<style>
  .tag + .tag:before {
    content: '- ';
    margin-left: 1ch;
  }
</style>
