---
const { firstname, surname, img, roles } = Astro.props;
import { Picture } from 'astro:assets';
---

<article class="aspect-3/4 overflow-hidden relative">
  <Picture
    src={img}
    alt=`${firstname} ${surname}, fotografie`
    class="absolute inset-0 h-full w-auto object-cover -z-10 select-none"
  />
  <div
    class="bottom-2 left-2 right-2 bg-tertiary-50 border border-tertiary-500! py-2 px-3 absolute"
  >
    <h2 class="text-xl font-semibold">{firstname} {surname}</h2>
    <p class="font-mono text-sm text-tertiary-800">{roles}</p>
  </div>
</article>
